/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.login_form{
    width: 100%;
}

ul.login_form li{
    display: inline;
}

.emp_box {
    margin-top: 10px;
    margin-left: 10px;
    background: white;
    width: 30%;
    height: 270px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    border: solid 1px #e8e8e8;
    text-align: center;
}

.pers_item{
    padding: 20px;
    position: relative;
}

.pers_img {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: #f5f5f5;
    background-position: 50% 50%;
    background-size: cover;
}

.pers_name{
    text-align:center;
    padding: 4px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
