@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>@User.Identity.Name</a></li>
        @if (!User.IsInRole("Read"))
        {
            <li><a asp-controller="" asp-action="">Пользователи</a></li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Создать</a>
                <ul class="dropdown-menu">
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="Authorization" asp-action="RegisterUser">Добавить пользователя</a></li>
                    }
                    <li><a asp-controller="Person" asp-action="CreateProfile">Создать работника</a></li>
                </ul>
            </li>
        }
        <li><a asp-controller="Authorization" asp-action="LogOff">Выйти</a></li>
    </ul>
}
@*else
{
    <ul class="nav navbar-nav navbar-right collapselogin_form">
        <li><a asp-area="" asp-controller="Authorization" asp-action="Login">Войти</a></li>
        <li><a asp-area="" asp-controller="Authorization" asp-action="Register">Регистрация</a></li>
    </ul>
}*@
